/* Custom Tailwind Components */

/* Menus */
.header-navigation button, .header-navigation a {
    @apply text-lg font-semibold leading-6 text-gray-900 hover:text-primary
}
.mobile-menu > * {
    @apply my-2
}

.header-logo {
    font-family: "Mr Dafoe";
}

.menu-item {
    @apply mx-2
}

/* FAQS */
.accordion button h2 {
    @apply text-lg py-2
}

.accordion div {
    @apply text-lg text-gray-500 py-4
}

/* Slick React Carousel Sliders */
.slick-list {
    display: flex !important;
    padding: 1rem 0 !important;
}

.slick-track {
    display: flex !important;
    flex-direction: row;
    flex: 1;
    align-items: stretch;
    padding: 1rem 0 !important;
    gap: 1rem;
}

.slick-slide {
    display: flex !important;
    flex: 1;
    align-items: stretch;
    
}

.slick-slide > div {
    display: flex !important;
    flex: 1;
    align-items: stretch;
}

/* SVG Icons */
.svg-icons svg {
    max-height: 100px;
}

/* Algolia Search Hits */
.ais-Hits-item {
    @apply my-4
}

.ais-Highlight-highlighted {
    @apply bg-primary text-white
}

.ais-Pagination {
    @apply mt-12
}
.ais-Pagination-list {
    @apply flex flex-row gap-4 text-lg items-center justify-center
}
.ais-RefinementList-checkbox {
    @apply text-primary
}
.ais-Pagination-item {
    @apply text-slate-800 font-semibold
}
.ais-Pagination-item--selected {
    @apply text-primary font-semibold
}
.ais-Pagination-link svg{
    @apply text-slate-800
}