@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base Styles */
h1,h2,h3,h4,h5,h6 {
    font-family: "Libre Baskerville";
}
p, span {
    font-family: "Source Sans Pro"
}
article {
    text-align: justify;
}

article h1 {
    @apply text-4xl
}
article h2 {
    @apply text-3xl
}
article h3 {
    @apply text-2xl
}
article h4 {
    @apply text-xl
}
article p {
    @apply text-lg py-2
}
article h1, h2, h3, h4, h5, h6 {
    @apply font-semibold py-2
}
article a {
    @apply text-primary underline decoration-dotted
}
article a:hover {
    @apply text-primary decoration-solid
}
::selection {
    @apply text-white bg-primary
}

/* FAQS */
.accordion button h2 {
    @apply text-lg py-2
}

.accordion div {
    @apply text-lg text-gray-500 py-4
}


/* Animation Effects */
@keyframes fadeInUp {
    from {
        transform: translate3d(0, 75px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 75px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.animated {
    animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0;
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    visibility: block;
}

/* SVG Icons */
.svg-icons svg {
    max-height: 100px;
}

.slide___3-Nqo,.slideHorizontal___1NzNV,.carousel__slide,.carousel__slide--visible {
    margin: 1rem .5rem !important;
}

/* Menus */
.header-navigation button {
    @apply text-lg font-semibold leading-6 text-gray-900 hover:text-primary
}

.header-logo {
    font-family: "Mr Dafoe";
}